<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.mapper.BlogLikeMapper">
    <resultMap id="baseColumn" type="com.yc.model.BlogLike">
        <id column="blike_id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="blog_id" property="blogId"/>
    </resultMap>

    <select id="getBlogLikeNumByBlogId" parameterType="integer" resultType="integer">
        select count(*) from blog_like where blog_id=#{blogId}
    </select>

    <select id="getBlogLikeNumByBlogIdAndUserId" parameterType="integer" resultType="integer">
        select count(*) from blog_like where blog_id=#{param1} and user_id=#{param2}
    </select>

    <insert id="addBlogLikeNum" parameterType="integer">
        insert into blog_like(user_id, blog_id) VALUES (#{param2},#{param1})
    </insert>

    <select id="getBlogLikeByUserId" parameterType="integer" resultMap="baseColumn">
        select * from blog_like where user_id=#{userId}
    </select>
</mapper>